@import "~antd/dist/antd.css";

/* .App {
} */

.hero-image {
  width: 500px;
  margin-bottom: 10px;
}

.hero-section {
  margin-top: 150px;
}

.white {
  color: white;
}

.standard-padding {
  padding: 20px;
}

.standard-margin {
  margin: 20px;
}


.boxed {
  padding: 20px;
  border-radius: 5px;
}

.item-card-image {
  width: 120px;
  padding: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  /* min-height: 70vh; */
  margin-top: 60px;
}

.float-right {
  text-align: right;
  justify-content: end;
  float: right;
}

.pointer {
  cursor: pointer;
}

.create-detail {
  max-width: 600px;
  line-height: 1.5;
}

.salespage-header {
  margin-top: 25px;
}

.create-logo {
  width: 150px;
  margin-bottom: 20px;
}

.history-logo {
  width: 300px;
  padding-bottom: 10px;
}

.preview-image {
  width: 36px;
}

.item-card {
  width: 225px;
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  display: inline-block;
}

.itemrow {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;;
  border-top: 1px solid gray;
  /* border-bottom: 1px solid gray; */
}

.page-logo {
  margin-top: 25px;
  width: 64px;
}

.success-text {
  color: green;
}

.centered {
  margin: 0 auto;
  text-align: center;
}

.error-text {
  color: red;
}

.dropzone {
  border: 1px dotted black;
  padding: 25px;
  cursor: pointer;
}

.hero-slogan-section {
  font-size: 18px;
  font-weight: 500;
  margin-top: 50px;
  margin-left: 25px;
}

.hero-slogan {
  font-size: 28px;
}

.vertical-margin,
.standard-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;;
}

.pointer {
  cursor: pointer;
}

.ant-input,
input,
textarea {
  max-width: 400px;
  /* margin-bottom: 10px;
  margin-top: 10px; */
}

.header-logo {
  height: 40px;
}

.ant-menu, .ant-layout-footer {
  color: white;
}

 .ant-card-head {
  padding: 0px;
  color: white;
  background: rgb(134, 142, 150);
}

.ant-card-body {
  padding: 0px;
  background: white;
}

.ant-card-head-title {
  padding: 16px;
  /* padding-left: 16px; */
}

.cloud-card {
  margin: 10px;
  display: inline-grid;
}

.ant-card {
  background: rgb(134, 142, 150);
}

.ant-layout-footer {
  padding: 0px;
}

.ant-layout-footer, .ant-layout-header, .ant-menu {
  background: rgb(33, 37, 41);
}

body, .ant-layout-content, .ant-layout-sider {
  background: rgb(52,58,63)
}

.ant-card-head {
  padding: 0px;
  min-height: 0px;
  border-bottom: none;
}

.ant-card-bordered {
  border: none;
}

.green {
  color: #52c41a !important;
}



.dark-red {
  background: rgb(113, 0, 0);
}
